/* putting a body background image */

body {
    background-image:url(./images/quiz\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

/* styling welcome screen */

#wlc-title {
    font-size: 1.5cm;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    color: goldenrod;
}

#wlc-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 120px;
}

#geo {
    display: block;
    font-size: 1cm;
    font-family: fantasy;
    background-color: green;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}

#history {
    display: block;
    font-size: 1cm;
    font-family: fantasy;
    background-color: chocolate;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}

#fb {
    display: block;
    font-size: 1cm;
    font-family: fantasy;
    background-color: cyan;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}

/* styling the timer */

.timeLeft {
    display: flex;
    justify-content: center;
    font-size: 0.7cm;
    font-family: 'Trebuchet MS';
    
    color: red
}

/* styling geo */

/* questions */

#geo1q {
    font-size: 1cm;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    color: goldenrod;
}

/* answers */

/* div */

#geoAns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px;
}

/* buttons */

.geoButtons {
    display: block;
    font-size: 0.8cm;
    font-family: fantasy;
    background-color: white;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}

/* styling history */

/* questions */

#history1q {
    font-size: 1cm;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    color: goldenrod; 
}

/* answers */

/* div */

#historyAns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px;
}

.historyButtons {
    display: block;
    font-size: 0.8cm;
    font-family: fantasy;
    background-color: white;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}

/* styling football */

/* questions */

#fb1q {
    font-size: 1cm;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    color: goldenrod; 
}

/* answers */

/* Div */

#fbAns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px;
}

/* Buttons */

.fbButtons {
    display: block;
    font-size: 0.8cm;
    font-family: fantasy;
    background-color: white;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}

/* styling next button */

.nextButton {
    display: flex;
    justify-content: center;
    margin-left: 17.5cm;
    font-size: 0.8cm;
    font-family: serif;
    background-color: gold;
    border-radius: 1cm;
    border-color: gold;
}

/* styling end screen */

#endHead {
    font-size: 1.5cm;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    color: goldenrod;
}

#endScore {
    font-size: 1.5cm;
    font-family: 'Trebuchet MS';
    display: flex;
    justify-content: center;
    color: crimson;
}

#again {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 660px;
    font-size: 1cm;
    font-family:'Trebuchet MS';
    background-color: blue;
    border-radius: 1cm;
    border-color: gold;
    margin-top: 1cm;
}